<link rel="stylesheet" href="/css/main.css" />

<header>
  <span>Node <em>&</em> Express</span>
  <nav>
    <a href="/">Главная</a>
    <a href="/user/alex">Профиль</a>
  </nav>
  <form method="post" action="/check-user">
    <input type="text" name="username" placeholder="Имя пользователя" />
    <button type="submit">Поиск</button>
  </form>
</header>
